<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="example-button-row">
        <button mat-button [routerLink]="['']">Ng Rotas</button>
      </div>
      <span class="example-spacer"></span>
      <div class="example-button-row ">
        <!-- na versão 4 do angular o routerLink]="/login"-->
        <a mat-button routerLink="/login" routerLinkActive="router-link-active">
          Login </a>

        <a mat-button routerLink="/cursos" [queryParams]="{pagina:1}">
          Cursos
        </a>
        <!--<button mat-raised-button color="primary" [routerLink]="['/curso',idCurso.value]"
          routerLinkActive="router-link-active">-->
        <button mat-raised-button color="primary" [routerLink]="['curso',idCurso.value]"
          routerLinkActive="router-link-active">
          Curso com Id
        </button>
      </div>
    </mat-toolbar-row>

  </mat-toolbar>
</p>
<div class="container">
  <p>
    Entre com o Id do Curso
    <!--declarar uma variavel local insere:'#'.Exe.:#idCurso-->
    <input #idCurso>
  </p>
  <router-outlet></router-outlet>
</div>
